:root {
    --primary: #FF5457;
    --primary-010: #FF4645;
    
    --secondary: #FF644B;
    --secondary-010: #FF3437;

    --white: #fff;

    --black: #10101a;
    --black-010: #2d2a30;
    --black-011: #3c4043;

    --grey: #9b9ba0;

    --linkedin: #0e76a8;
    --linkedin-010: #185a7a;
}